# 编译产物
**/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# 测试文件
*.test
*.tmp

# 输出文件
*.out

# Go特定文件
/vendor/
/Godeps/

# IDE文件
.idea/
.vscode/
*.swp
*.swo

# 操作系统文件
.DS_Store
Thumbs.db

**/.history/
**/.task_time_cache
